html, body
{
    height: 100%;
    background-image: url("/assets/roboto.jpg");
	background-size: 940px 705px;
	background-repeat: no-repeat;
}
h2{
	margin-bottom: 20px;
}

.sign-form-wrapper{
	width: 400px;
	margin-right: 200px;
	margin-top: 20px;
	.form-group .btn{
		width:150px;
		margin:auto;
		display: block;
		margin-top: 20px;
	}
}
#sign-in-wrapper{
	margin-top: 60px;
}
.social-sign-wrapper{
	a{width:195px;}	
	p{width:120px;margin: 10px auto;}
}
.btn-google-plus{
	float:right;
}
#full-name-group input{
	width: 195px;
	display: inline-block;
}